<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="bg-[#FFFFFF] w-[200px] h-full bg-white flex flex-col justify-between" id="nav">
    <div class="w-[200px] h-full">
      <ul class="border-ul h-full">
        <li class="text-xl">
          <a href="" class="ml-4">
            <i class="fa fa-bar-chart"></i> Dashboard
          </a>
        </li>
        <li class="text-xl">
          <a href="" class="ml-4">
            <i class="fa fa-address-book"></i> Profile
          </a>
        </li>
        <li class="text-xl">
          <a href="" class="ml-4" >
            <i class="fa fa-inbox"></i> Products
          </a>
        </li>
        <li class="text-xl">
          <a href="" class="ml-4" [routerLink]="'/adminBlog'">
            <i class="fa fa-newspaper"></i> Blogs
          </a>
        </li>
        <li class="text-xl" >
          <a href="" class="ml-4" [routerLink]="'/payment'">
            <i class="fa fa-shopping-basket"></i> Orders
          </a>
        </li>
      </ul>
    </div>
  </div>