<!-- <app-prodcut-new></app-prodcut-new> -->
<!-- <app-admin-view></app-admin-view> -->

<!-- <app-product-detail></app-product-detail> -->
<!-- <app-delte-product></app-delte-product> -->
<!-- <app-product-update></app-product-update> -->

<!-- <app-test></app-test>  -->
<!-- <app-admin-navbar></app-admin-navbar> -->



<div class="h-full w-full">
    <app-header></app-header>
    <div class="relative">
      <app-admin-navbar class="left-0 top-0 absolute h-full"></app-admin-navbar>
      <div class="left-0 top-0">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <!-- <app-payment-admin></app-payment-admin> -->

  <!-- <app-payment-detail></app-payment-detail> -->